html(lang="en")
head
    title Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
body(onload="init()")
    include partials/header
    br
    |
    h3 Browse books and add some to your cart