#container{
    display:flex;
    flex-direction: row;
}


#bookCollection{
    border:1px solid black;
    
}

#addToCart{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#cart{
    border:1px solid black;
    margin-left: auto;
    text-align: center;
}